$corDeFundo: #040714;
$corTextoPrincipal: silver;
$corTextoTerceario: white;
$corTextoSecundario: #f9f9f9;
$corDeFundoBotaoPrimario: #1a3004;
$corDeFundoBotaoSecundario: #105d03;
$corDeFundoBotaoDark: #dacb5b;